.movieDetailsContiner {
  /* background-color: rgb(127, 168, 245); */
  padding-left: 25px;
  padding-right: 25px;
}

.movie_item {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(143, 85, 10);
  border-radius: 10px;
}

.movie_description {
  font-style: italic;
  margin-left: 40px;
}

.movie_poster {
  border: 3px solid rgb(143, 85, 10);
  border-radius: 25px;
  overflow: hidden;
}

.description_item {
  font-size: 25px;
  margin-top: 10px;
  list-style: none;
}

.goBackBtn {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;

  color: rgb(143, 85, 10);
  border: 2px solid rgb(143, 85, 10);
  border-radius: 10px;
  padding: 10px;

  margin-bottom: 15px;
}

.goBackBtn:hover,
.goBackBtn:focus {
  color: white;
  border: 2px solid white;
}

.aditionalInf_title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.aditionalInf_list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
}

.aditionalInf_item {
  font-size: 25px;
  font-weight: 700;
  color: rgb(143, 85, 10);
  color: red;
  border: 2px solid rgb(143, 85, 10);
  border-radius: 10px;
  padding: 10px;
}

.aditionalInf_item:hover,
.aditionalInf_item:focus {
  color: white;
  border: 2px solid white;
}

.goUpBtn {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;

  margin-left: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.goUpBtn:hover,
.goUpBtn:focus {
  color: white;
  border: 2px solid white;
}
