.movieDetailsContiner {
  /* background-color: rgb(127, 168, 245); */
  padding-left: 25px;
  padding-right: 25px;
}

.movie_item {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(143, 85, 10);
  border-radius: 10px;
}

.movie_description {
  margin-left: 40px;
}

.movie_poster {
  border: 3px solid rgb(143, 85, 10);
  border-radius: 25px;
  overflow: hidden;
}

.description_item {
  font-size: 25px;
  margin-top: 10px;
  list-style: none;
}
